node_modules/
.air.toml
tmp/
src/libPTEdit.a
src/demos/
src/module/.Module.symvers.cmd
src/module/.modules.order.cmd
src/module/.pteditor.ko.cmd
src/module/.pteditor.mod.cmd
src/module/.pteditor.mod.o.cmd
src/module/.pteditor.o.cmd
src/module/Module.symvers
src/module/modules.order
src/module/pteditor.ko
src/module/pteditor.mod
src/module/pteditor.mod.c
src/module/pteditor.mod.o
src/module/pteditor.o
src/module/tmp/build-errors.log
src/ptedit_header.h
