{{define "full-entry"}}
<div
  id="full-entry"
  class="bg-blue-400 row-start-1 row-end-3 col-start-2 text-center mx-2 rounded p-2"
>
  {{if .readView}}
  <button
    hx-post="/full-entry"
    hx-vals='{"vfn": "{{.entry.Vfn}}"}'
    hx-swap="outerHTML"
    hx-target="#full-entry"
    class="border-2 border-black p-1 rounded bg-gray-50 m-2"
  >
    Edit
  </button>
  {{else}}
  <button
    hx-post="/full-entry"
    hx-vals='{"vfn": "{{.entry.Vfn}}", "read": true}'
    hx-target="#full-entry"
    hx-swap="outerHTML"
    class="border-2 border-black p-1 rounded bg-gray-50 m-2"
  >
    Cancel
  </button>
  {{end}}
  <table class="w-full border-separate border border-black">
    <thead class="z-10 w-full border uppercase bg-white text-center text-xs">
      <th class="border-2 border-gray-300">NX</th>
      <th class="border-2 border-gray-300">PFN</th>
      <th class="border-2 border-gray-300">VFN</th>
      <th class="border-2 border-gray-300">H</th>
      <th class="border-2 border-gray-300">S1</th>
      <th class="border-2 border-gray-300">S2</th>
      <th class="border-2 border-gray-300">S3</th>
      <th class="border-2 border-gray-300">G</th>
      <th class="border-2 border-gray-300">S</th>
      <th class="border-2 border-gray-300">D</th>
      <th class="border-2 border-gray-300">A</th>
      <th class="border-2 border-gray-300">UC</th>
      <th class="border-2 border-gray-300">WT</th>
      <th class="border-2 border-gray-300">U</th>
      <th class="border-2 border-gray-300">W</th>
      <th class="border-2 border-gray-300">P</th>
    </thead>
    {{ if .readView}}
    <tbody class="w-full text-center text-s">
      <tr class="bg-{{.entry.Color}}-200">
        <td class="border-2 border-gray-300">
          {{if .entry.Nx}} 1 {{else}} 0 {{end}}
        </td>
        <td class="border-2 border-gray-300">
          {{if .entry.Pfn}} {{.entry.Pfn}} {{else}} 0x0 {{end}}
        </td>
        <td class="border-2 border-gray-300">
          {{if .entry.Vfn}}{{.entry.Vfn}} {{else}} 0x0 {{end}}
        </td>
        <td class="border-2 border-gray-300">
          {{if .entry.PatL}} 1 {{else}} 0 {{end}}
        </td>
        <td class="border-2 border-gray-300">
          {{if .entry.S1}} 1 {{else}} 0 {{end}}
        </td>
        <td class="border-2 border-gray-300">
          {{if .entry.S2}} 1 {{else}} 0 {{end}}
        </td>
        <td class="border-2 border-gray-300">
          {{if .entry.S3}} 1 {{else}} 0 {{end}}
        </td>
        <td class="border-2 border-gray-300">
          {{if .entry.G}} 1 {{else}} 0 {{end}}
        </td>
        <td class="border-2 border-gray-300">
          {{if .entry.Pat}} 1 {{else}} 0 {{end}}
        </td>
        <td class="border-2 border-gray-300">
          {{if .entry.D}} 1 {{else}} 0 {{end}}
        </td>
        <td class="border-2 border-gray-300">
          {{if .entry.A}} 1 {{else}} 0 {{end}}
        </td>
        <td class="border-2 border-gray-300">
          {{if .entry.Dc}} 1 {{else}} 0 {{end}}
        </td>
        <td class="border-2 border-gray-300">
          {{if .entry.Wt}} 1 {{else}} 0 {{end}}
        </td>
        <td class="border-2 border-gray-300">
          {{if .entry.U}} 1 {{else}} 0 {{end}}
        </td>
        <td class="border-2 border-gray-300">
          {{if .entry.W}} 1 {{else}} 0 {{end}}
        </td>
        <td class="border-2 border-gray-300">
          {{if .entry.P}} 1 {{else}} 0 {{end}}
        </td>
      </tr>
    </tbody>
    {{else}}
    <tbody class="w-full text-center text-s">
      <form id="patch">
        <tr class="bg-{{.entry.Color}}-200">
          <td class="border-2 border-gray-300">
            <input
              value="{{if .entry.Nx}} 1 {{else}} 0 {{end}}"
              class="w-full text-center"
            />
          </td>
          <td class="border-2 border-gray-300">
            <input
              value="{{if .entry.Pfn}} {{.entry.Pfn}} {{else}} 0x0 {{end}}"
              class="w-full min-w-16 text-center"
            />
          </td>
          <td class="border-2 border-gray-300">
            <input
              value="{{if .entry.Vfn}}{{.entry.Vfn}} {{else}} 0x0 {{end}}"
              class="w-full min-w-28 text-center"
            />
          </td>
          <td class="border-2 border-gray-300">
            <input
              value="{{if .entry.PatL}} 1 {{else}} 0 {{end}}"
              class="w-full text-center"
            />
          </td>
          <td class="border-2 border-gray-300">
            <input
              value="{{if .entry.S1}} 1 {{else}} 0 {{end}}"
              class="w-full text-center"
            />
          </td>
          <td class="border-2 border-gray-300">
            <input
              value="{{if .entry.S2}} 1 {{else}} 0 {{end}}"
              class="w-full text-center"
            />
          </td>
          <td class="border-2 border-gray-300">
            <input
              value="{{if .entry.S3}} 1 {{else}} 0 {{end}}"
              class="w-full text-center"
            />
          </td>
          <td class="border-2 border-gray-300">
            <input
              value="{{if .entry.G}} 1 {{else}} 0 {{end}}"
              class="w-full text-center"
            />
          </td>
          <td class="border-2 border-gray-300">
            <input
              value="{{if .entry.Pat}} 1 {{else}} 0 {{end}}"
              class="w-full text-center"
            />
          </td>
          <td class="border-2 border-gray-300">
            <input
              value="{{if .entry.D}} 1 {{else}} 0 {{end}}"
              class="w-full text-center"
            />
          </td>
          <td class="border-2 border-gray-300">
            <input
              value="{{if .entry.A}} 1 {{else}} 0 {{end}}"
              class="w-full text-center"
            />
          </td>
          <td class="border-2 border-gray-300">
            <input
              value="{{if .entry.Dc}} 1 {{else}} 0 {{end}}"
              class="w-full text-center"
            />
          </td>
          <td class="border-2 border-gray-300">
            <input
              value="{{if .entry.Wt}} 1 {{else}} 0 {{end}}"
              class="w-full text-center"
            />
          </td>
          <td class="border-2 border-gray-300">
            <input
              value="{{if .entry.U}} 1 {{else}} 0 {{end}}"
              class="w-full text-center"
            />
          </td>
          <td class="border-2 border-gray-300">
            <input
              value="{{if .entry.W}} 1 {{else}} 0 {{end}}"
              class="w-full text-center"
            />
          </td>
          <td class="border-2 border-gray-300">
            <input
              value="{{if .entry.P}} 1 {{else}} 0 {{end}}"
              class="w-full text-center"
            />
          </td>
        </tr>
      </form>
    </tbody>
    <button
      type="submit"
      class="border-2 border-black p-1 rounded bg-gray-50 m-2"
    >
      Save
    </button>
    {{ end }}
  </table>
</div>
{{end}}
