<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Page Table Viewer</title>
    <link rel="stylesheet" href="../static/css/tailwind.css" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

    <!-- <script -->
    <!--   src="https://unpkg.com/htmx.org@1.9.12" -->
    <!--   integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" -->
    <!--   crossorigin="anonymous" -->
    <!-- ></script> -->
    <script src="../static/htmx.min.js"></script>
  </head>
  <body hx-boost="true" class="text-sm">
    {{block "info-modal" .}}
    <div id="info-modal" class="hidden"></div>
    {{end}} {{block "modal" .}}
    <div id="modal" class="hidden"></div>
    {{end}}

    <h1 class="text-2xl mx-2 my-3">Page Table Viewer</h1>
    <div class="grid gap-2 grid-cols-2 grid-rows-2">
      <div id="pid-div">
        <form id="myForm">
          <input
            class="border border-black m-2 rounded p-1"
            type="text"
            name="pid"
            placeholder="Process Id"
            required
          />
          <button
            hx-post="/pid"
            hx-target="#pid"
            hx-swap="outerHTML"
            type="submit"
            class="border-2 border-black p-1 rounded bg-gray-50"
          >
            Submit
          </button>
        </form>
      </div>
      <div id="virt-div" class="mx-2 row-start-2">
        <label id="pid" for="virt"><b>Process Id:</b> 0</label>
        <form id="myForm">
          <input
            class="border border-black rounded p-1 my-1"
            type="text"
            name="virt"
            placeholder="virt. address (E.g., 0xffffffffffff)"
            required
          />
          <button
            type="submit"
            id="path"
            class="border-2 border-black p-1 rounded bg-gray-50"
            hx-post="/show-path"
            hx-swap="outerHTML"
            hx-target="#page-tables"
          >
            Show Path
          </button>
          <button
            type="submit"
            class="border-2 border-black p-1 rounded bg-gray-50"
            hx-post="/translate"
            hx-target="#phys"
            hx-swap="innerHTML"
            hx-trigger="click,click from:#path"
          >
            Translate
          </button>
          <label id="phys" class="border-2 border-black p-1 bg-blue-50"
            >{{ .Phys }}</label
          >
        </form>
      </div>
      {{block "full-entry" .}}
      <div
        id="full-entry"
        class="flex bg-blue-400 row-start-1 row-end-3 col-start-2 rounded mx-2 justify-center items-center"
      >
        Click on entry to display full entry here
      </div>
      {{end}}
    </div>
    <div class="flex flex-row">
      <button
        hx-post="/table"
        hx-vals='{"lvl": 0, "idx": 0}'
        hx-swap="outerHTML"
        hx-target="#pml4"
        type="submit"
        class="border-2 border-black p-1 rounded bg-gray-50 m-2"
      >
        Show Tables
      </button>
      <button
        id="show-info-btn"
        hx-post="/show-info-modal"
        hx-target="#info-modal"
        hx-swap="outerHTML"
        class="border-2 border-black p-1 rounded bg-gray-50 m-2"
      >
        Process Info
      </button>
      <form action="/dump-pages" method="get" hx-disable="true">
        <button
          class="border-2 border-black p-1 rounded bg-gray-50 m-2"
          type="submit"
        >
          Dump Pages
        </button>
      </form>
    </div>
    {{ block "page-tables" .}}
    <div id="page-tables" class="w-full h-screen mt-3 flex">
      {{block "pml4" .}}
      <div id="pml4"></div>
      {{end}} {{block "pdpt" .}}
      <div id="pdpt"></div>
      {{end}} {{block "pd" .}}
      <div id="pd"></div>
      {{end}} {{block "pte" .}}
      <div id="pte"></div>
      {{end}}
    </div>
    {{end}}
  </body>
</html>
