{{ define "pte-table" }}
<div
  id="{{.tmplName}}"
  class="w-1/4 m-2 h-1/2 overflow-auto border-2 border-gray-300"
>
  <table class="table-auto w-full border-separate">
    <thead
      class="z-10 w-full sticky top-0 border uppercase bg-white text-center text-xs"
    >
      <th class="border border-gray-300">IDX</th>
      <th class="border border-gray-300">PFN</th>
      <th class="border border-gray-300">VFN</th>
      <th
        class="border border-gray-300 {{if .onlyPresent }} bg-green-300 {{else}} bg-red-300 {{end}}"
        hx-post="/table"
        hx-target="#{{.tmplName}}"
        hx-swap="outerHTML"
        hx-vals='js:{"idx": -1, "lvl": {{$.lvl}}-1, "present": "true"}'
      >
        P
      </th>
    </thead>
    <tbody class="w-full text-center text-xs">
      {{if not .onlyPresent}} {{range $i, $entry := .vAddrs}} {{if $entry.P}}
      <tr
        class="bg-green-200"
        hx-post="/full-entry"
        hx-vals='{"pfn": "{{$entry.Pfn}}"}'
        hx-swap="outerHTML"
        hx-target="#full-entry"
      >
        <td class="border border-gray-300">{{$i}}</td>
        <td class="border border-gray-300">{{$entry.Pfn}}</td>
        <td class="border border-gray-300">{{$entry.Vfn}}</td>
        <td class="border border-gray-300">1</td>
        <td class="border border-gray-300">
          <button
            class="border border-black p-1 rounded bg-gray-50 text-sm z-50"
            hx-post="/table"
            hx-vals='{"idx": {{$i}}, "lvl": {{$.lvl}}}'
            hx-swap="outerHTML"
            hx-target="#{{$.nxtLvlName}}"
          >
            &rarr;
          </button>
        </td>
      </tr>
      {{else}}
      <tr class="bg-red-200">
        <td class="border border-gray-300">{{$i}}</td>
        <td class="border border-gray-300">0x0</td>
        <td class="border border-gray-300">{{$entry.Vfn}}</td>
        <td class="border border-gray-300">0</td>
      </tr>
      {{end}} {{end}} {{else}} {{range $i, $entry := .vAddrs}} {{if $entry.P}}
      <tr
        class="bg-green-200"
        hx-post="/full-entry"
        hx-vals='{"pfn": "{{$entry.Pfn}}"}'
        hx-swap="outerHTML"
        hx-target="#full-entry"
      >
        <td class="border border-gray-300">{{$i}}</td>
        <td class="border border-gray-300">{{$entry.Pfn}}</td>
        <td class="border border-gray-300">{{$entry.Vfn}}</td>
        <td class="border border-gray-300">1</td>
        <td class="border border-gray-300">
          <button
            class="border border-black p-1 rounded bg-gray-50 text-sm z-50"
            hx-post="/table"
            hx-vals='{"idx": "{{$i}}", "lvl": "{{$.lvl}}"}'
            hx-swap="outerHTML"
            hx-target="#{{$.nxtLvlName}}"
          >
            &rarr;
          </button>
        </td>
      </tr>
      {{end}} {{end}} {{end}}
    </tbody>
  </table>
</div>
{{end}}
