{{define "pte"}}
<div id="pte" class="w-1/4 m-2 h-1/2 overflow-auto border-2 border-gray-300">
  <table class="table-auto w-full border-separate">
    <thead
      class="z-10 w-full sticky top-0 border uppercase bg-white text-center text-xs"
    >
      <th class="border-2 border-gray-300">idx</th>
      <th class="border-2 border-gray-300">pfn</th>
      <th class="border-2 border-gray-300">vfn</th>
      <th class="border-2 border-gray-300">nx</th>
      <th class="border-2 border-gray-300">p</th>
    </thead>
    <tbody class="w-full text-center text-xs">
      {{range $i, $entry := .vAddrs}} {{if $entry.P}}
      <tr class="bg-green-200">
        <td class="border-2 border-gray-300">{{$i}}</td>
        <td class="border-2 border-gray-300">{{$entry.Pfn}}</td>
        <td class="border-2 border-gray-300">{{$entry.Vfn}}</td>
        <td class="border-2 border-gray-300">
          {{if $entry.Nx}} 1 {{else}} 0 {{end}}
        </td>
        <td class="border-2 border-gray-300">1</td>
        <td class="border-2 border-gray-300">
          <button
            class="border-2 border-black p-1 rounded bg-gray-50 text-sm z-50"
            hx-post="/fourth-lvl"
            hx-vals='{"pd_idx": "{{$i}}"}'
            hx-swap="outerHTML"
            hx-target="#pte"
          >
            phys
          </button>
        </td>
      </tr>
      {{else}}
      <tr class="bg-red-200">
        <td class="border-2 border-gray-300">{{$i}}</td>
        <td class="border-2 border-gray-300">0x0</td>
        <td class="border-2 border-gray-300">{{$entry.Vfn}}</td>
        <td class="border-2 border-gray-300">0</td>
        <td class="border-2 border-gray-300">0</td>
      </tr>
      {{end}} {{end}}
    </tbody>
  </table>
</div>
{{end}}
